*{
  margin: 0;
  padding: 0;
  font-family: 'Neue Haas Grotesk Display Pro';
}

a{
  font-family: "EB Garamond", Regular;
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a:hover{
  font-style: italic;
  color: #34CB3E;
  text-decoration: underline;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);

}

.row-project{
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}

.container{
  padding: 10px;
}

/*---------------font-section--------------*/

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

/*---------------navbar--------------*/

#nav{
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

.navbar{
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar{
  position: sticky;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand{
  position: fixed;
  top: 1vh;
  font-size: 18px;
}


/*---------------banner--------------*/

#content {
  background-color: white;
  justify-content: left;
}

.menu{
  position: fixed;
  z-index: 100;
  overflow: hidden;
  font-family: "EB Garamond", Regular;
  font-size: 17px;
  padding-left: 10px;
  top: 40vh;
}

.link{
  font-style: italic;
  color: #34CB3E;
  text-decoration: underline;
}

.footer{
  position: fixed;
  z-index: 100;
  font-family: "EB Garamond", Regular;
  font-size: 17px;
  padding-left: 10px;
  bottom: 2vh;
}

.footer-link{
  text-decoration: underline;
  cursor: pointer;
}


/*---------------project--------------*/

.project{
  position: relative;
  height: 100%;
  width: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project-image{
  display: block;
  width: 90%;
  height: auto;
  filter: grayscale(100%);
}

.project-image:hover{
  filter: none;
}

#myCarousel{
 width: 100%;
}

.title{
  font-size: 17px;
  text-align: left;
  margin-top: 40px;
}

.text{
  font-size: 14px;
  text-align: left;
  width: 50%;
  margin-top: 20px;
}

.text-bio{
  font-size: 14px;
  text-align: left;
  width: 70%;
  margin-top: 40px;
  display: inline-flex;
  align-items: flex-start;
}

.works{
  padding-bottom: 90px;
}


/*---------------footer--------------*/

#footer{
  position: fixed;
  z-index: 100;
  overflow: hidden;
  background-color: white;
  padding: 15px 10px 0px 10px;
}


/*---------------profile--------------*/

#cover{
  background-size: 100vw;
  padding: 50px 0px 50px 0px;
  background: white;
}

marquee{
  font-family: 'SpaceMono Regular';
  font-size: 16px;
}

#info{
  padding: 50px 0px 50px 0px;
  background: #ffffff;
}

.specs{
  font-size: 18px;
}

.sub{
  font-family: 'Fivo Sans Modern Regular';
  font-size: 20px;
}

.fact{
  font-family: 'SpaceMono Regular';
  font-size: 14px;
}

#info img{
  width: 80vw;
}

#myCarousel{
 width: 100%;
}





/*---------------mobile--------------*/

@media screen and (max-width:767px) {

  .navbar-brand{
    font-family: 'Poppins SemiBold';
    font-size: 18px;
  }

  .asterisco{
    width: 40px;
  }

  .claim{
    font-size: 24px;
  }

  .bio{
    font-size: 24px;
  }

  .sub{
    font-family: 'Fivo Sans Modern Regular';
    font-size: 16px;
  }

  .specs{
    font-size: 14px;
  }

  #footer{
    font-size: 14px;
  }

  .row-project{
    flex-direction:column;
    margin-left: 10px;
    margin-right: 10px;
  }



}
