*{
  margin: 0;
  padding: 0;
  font-family: 'Neue Haas Grotesk Text Pro';
}

a{
  font-family: 'EB Garamond';
  font-weight: 400;
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

a:hover{
  font-style: italic;
  color: #34CB3E;
  text-decoration: underline;
}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);

}

.row-project{
  display: flex;
  justify-content: space-between;
  align-items: center;
  --bs-gutter-x: 30px;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}

.container{
  padding: 10px;
}

/*---------------font-section--------------*/

@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

@font-face {
  font-family: 'Neue Haas Grotesk Text Pro';
  src: url('font/NHaasGroteskTXPro-55Rg.ttf');
  font-style: normal;
  font-display: swap;
}



/*---------------navbar--------------*/

#nav{
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

.navbar{
  padding-left: 20px;
  padding-right: 20px;
}

.nav-bar{
  position: sticky;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand{
  position: fixed;
  top: 1vh;
  font-size: 18px;
}


/*---------------banner--------------*/

#content {
  background-color: white;
  justify-content: left;
}

.menu{
  font-family: 'EB Garamond';
  font-weight: 400;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  font-size: 16px;
  padding-left: 10px;
  top: 40vh;
}

.link{
  font-style: italic;
  color: #34CB3E;
  text-decoration: underline;
}

.footer{
  position: fixed;
  font-family: 'EB Garamond';
  font-weight: 400;
  font-size: 16px;
  padding-left: 10px;
  bottom: 2vh;
}

.footer-link{
  text-decoration: underline;
  cursor: pointer;
}

.col-8{
  padding-right: 10%;
}


/*---------------project--------------*/

.project{
  position: relative;
  height: 100%;
  width: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.project-image{
  display: block;
  width: 90%;
  height: auto;
  filter: grayscale(100%);
  z-index: 100;
}

.project-image:hover{
  filter: none;
}

#myCarousel{
 width: 100%;
}

.carousel-control-next, .carousel-control-prev{
  z-index: 10;
}

.title{
  font-size: 17px;
  text-align: left;
  margin-top: 40px;
}

.text{
  font-size: 14px;
  text-align: left;
  width: 50%;
  margin-top: 20px;
}

.text-bio{
  font-size: 14px;
  text-align: left;
  width: 70%;
  margin-top: 40px;
  display: inline-flex;
  align-items: flex-start;
}

.biography{
  margin-right: 60px;
}

.works{
  padding-bottom: 90px;
}


/*---------------mobile--------------*/

@media screen and (max-width:767px) {

  .col-4{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col-8{
    width: 100%;
    padding-left: 10%;
    overflow-x: hidden;
  }

  #nav{
    position: absolute;
    width: 100vw;
  }

  .navbar-brand{
    font-size: 18px;
  }

  .menu{
    font-size: 15px;
    position: relative;
    top: 0;
    margin-top: 40px;
    z-index: 100;
  }

  .footer{
    font-size: 15px;
    text-align: right;
    position: relative;
    right: 0;
    margin-top: 70px;
  }

  .text{
    width: 100%;
  }

  .text-bio{
    flex-direction: column;
    width: 100%;
  }

  .biography{
    margin-right: 0px;
  }

  .project{
    flex-direction: column;
  }

  .project-image{
    display: block;
    width: 100%;
    filter: none;
  }

  .carousel-control-next, .carousel-control-prev{
    width: 0;
    display: flex;
    justify-content: space-around;
    margin-right: -10px;
    margin-left: -10px;
  }




}
